*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Audiowide", sans-serif;
}

html{

    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #382419 #98c6eb;
}

body {
    background-image: url(https://images.unsplash.com/vector-1765798010015-26cc47ab6e90?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #98c6eb;
    color: #382419;
}

header{
    display: flex;
    font-size: 25px;
    justify-content: left;
    padding:20px 50px;
    margin: 20px;
    background-color: #382419;
    color: #ffffff;
    border-radius: 20px;
    width: 97vw;
    height: auto;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.introduccion{
    background-color: #ffffff;
    padding: 10px 35px;
    margin: 20px;
    border-radius: 20px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;;
}

.promocion{
    background-color: #98c6eb;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#btn{   

    background-color: #426d91;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    align-self: center;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}

.grillaProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 95vw;
    margin: 20px;
}

.producto{

    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    height: auto;
    width: 30%;
}

.imgProducto {

    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

footer,h1,main{
    text-align: center;
    margin-top: 20px;
}

/*media query*/

@media (max-width: 768px) {
    
    header {
        flex-direction: column; 
        height: auto; 
        padding: 20px; 
        gap: 15px; 
    }

    main{
        display: flex;
        justify-content: center;
    }

    .introduccion {
        width: 40vw;
        height: auto; 
        padding: 40px 20px;    
    }

    .promocion {
        width: auto;
        height: auto; 
        padding: 40px 20px;
    }
}
