*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,main{
    text-align: center;
    margin-top: 20px;
}
.introduccion{
    background-color: #a6dff3;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
#btn{   

    background-color: #093240;
    color: white;
    border: none;
    padding: 10px 20px;
    border:none;
    cursor: pointer;
}
header{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 50px 20px;
    background-color: #459bb8;
    border: none;
}